.about-us {
  max-width: 100%;

  &__image {
    max-width: 100%;
    width: 20em;
    max-height: 100%;
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
  }

  &__text {
    color: #333;
    text-align: center;

    h3 {
      color: #333;
      font-size: 1.3em;
      font-weight: bold;
      padding: 5px;
      margin-bottom: 20px;
    }
  }

  &__functions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    strong {
      font-weight: bold;
      margin-bottom: 20px;
    }

    div {
      display: flex;
      flex-wrap: wrap;
    }

    span {
      background: #F3F8FC;
      border: 1px solid #E8E8E8;
      padding: 5px;
      border-radius: 5px;
      margin: 0 10px 10px 0;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  &__certificates {
    font-size: 1.2em;
    color: #01629E;
    font-weight: bold;
  }
}
