.offer {
  color: #333;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
  }

  p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: bold;

    &:last-child {
      font-size: 1.2em;
      text-align: center;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #E8E8E8;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    &-item {
      background: #F3F8FC;
      border: 1px solid #E8E8E8;
      font-size: 1.05em;
      border-radius: 5px;
      width: 20%;
      min-width: 190px;
      flex-grow: 1;
      margin: 0 10px 10px 0;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}
