.content {
  position: relative;
  min-height: 100vh;
  width: 100%;

  &__layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.2 );
    z-index: -1;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 110%;
    min-height: 110%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    filter: blur(1px);
    z-index: -2;
  }

  &__content, &__overlay {
    position: absolute;
    background: white;
    padding: 30px 30px 60px;
    border-radius: 5px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    max-width: 680px;
    width: 100%;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    box-sizing: border-box;
  }

  &__overlay {
    align-items: initial;
  }

  &__close {
    position: fixed;
    right: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    z-index: 8;

    img {
      display: none;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      font-size: 35px;
      border-radius: 0 0 0 5px;
      box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
      background: white;
      font-weight: bold;
      color: #333;
    }
  }

  @media screen and (max-width: 768px) {
    height: initial;

    &__content {
      position: static;
      max-width: 100%;
      width: initial;
      bottom: initial;
      transform: none;
      margin: 5px;
      margin-top: 35vh;
      margin-bottom: 20px;
      overflow: hidden;
    }

    &__overlay {
      top: -50px;
      padding-top: 120px;
      max-width: 100%;
      border-radius: 0;
      left: 0;
      right: 0;
      transform: none;
      z-index: 5;
      box-shadow: none;
    }

    &__close {
      border-radius: 0;
      z-index: 6;
      box-shadow: none;
      border-bottom: 1px solid #E8E8E8;
      background: white;
      width: 100%;
      justify-content: space-between;

      img {
        display: inline-block;
        height: 46px;
        margin: 6px 15px;
      }

      div {
        box-shadow:  none;
        border-radius: 0;
        border-left: 1px solid #E8E8E8;
      }
    }

    &__layer {
      position: fixed;
    }

    &__image {
      position: fixed;
      filter: blur(1px);
      top: 100vw;
      min-width: 110vw;
      min-height: 110vh;
    }
  }
}

.content__overlay.element-enter {
  transform: translateY(100%) translateX(-50%);
  z-index: 2;
}

.content__overlay.element-enter.element-enter-active {
  transform: translateY(0) translateX(-50%);
  transition: all 500ms ease-in;
}

.content__overlay.element-leave {
  transform: translateY(0) translateX(-50%);
  z-index: 1;
}

.content__overlay.element-leave.element-leave-active {
  transform: translateY(100%) translateX(-50%);
  transition: all 500ms ease-in;
}

@media screen and (max-width: 768px) {
  .content__overlay.element-enter {
    transform: translateY(100%);
    z-index: 6;
  }

  .content__overlay.element-enter.element-enter-active {
    transform: translateY(0);
    transition: all 500ms ease-in;
  }

  .content__overlay.element-leave {
    transform: translateY(0);
    z-index: 5;
  }

  .content__overlay.element-leave.element-leave-active {
    transform: translateY(100%);
    transition: all 500ms ease-in;
  }
}

.content__close.element-enter {
  transform: translateY(-100%);
}

.content__close.element-enter.element-enter-active {
  transform: translateY(0);
  transition: all 200ms ease-in 300ms;
}

.content__close.element-leave {
  transform: translateY(0);
}

.content__close.element-leave.element-leave-active {
  transform: translateY(-100%);
  transition: all 200ms ease-in;
}
