.contact {
  color: #333;
  align-items: flex-start;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
  }

  &__form {
    background: #F7F7F7;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__company-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;

    @media screen and (max-width: 768px){
      flex-direction: column-reverse;
    }
  }

  &__company {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-grow: 1;

    strong {
      font-size: 1.1em;
      font-weight: bold;
      border-bottom: 1px solid #E8E8E8;
      margin-bottom: 10px;
    }

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 10px;

      > div, > a {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-right: 20px;

        @media screen and (max-width: 768px) {
          margin-right: 10px;
        }

        > svg {
          height: 15px;
          width: 16px;
        }

        > div {
          display: flex;
          flex-direction: column;
        }

        &:last-child {
          min-width: 100px;
          width: 50%;
        }
      }
    }


    span, a {
      margin-bottom: 7px;
    }

    a {
      display: inline-block;
      align-items: center;
      text-decoration: none;
      color: #333;
      white-space: nowrap;

      &:hover {
        color: #01629E;
      }

      svg {
        height: 18px;
        width: 18px;
        vertical-align: text-top;
        margin-right: 5px;
      }
    }

    @media screen and (max-width: 768px){
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__image {
    height: 35px;
    margin-bottom: 5px;
  }
}
